# ICE4006 - Data Science - automn 2024
## week 1 - prac session - introduction
###  Welcome to this interactive Jupyter notebook designed to teach you Python programming basics and introduce you to data analysis using pandas, numpy, and matplotlib. Let's get started!

# **Table of Contents:**
# - [1. Python Basics](#python-basics)
#   - [1.1. Variables and Data Types](#variables-and-data-types)
#   - [1.2. Control Flow (if, if-else, loops)](#control-flow)
#   - [1.3. Lists, Sets, Tuples, and Dicts](#lists-and-sets)
#   - [1.4. Functions](#functions)
# - [2. Data Analysis with Pandas](#data-analysis)
#   - [2.1. Loading Data](#loading-data)
#

# Let's begin by importing the necessary libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\vhs20ltg\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

# 1. Python Basics <a id="python-basics"></a>

### In Python, you can declare variables and assign values to them. Python has various data types, including integers, floats, strings, and booleans.

In [1]:
# Example:

name = "Alice"     # String
age = 30           # Integer
height = 1.75      # Float
is_student = True  # Boolean
future = None      #empty (None)

## 1.2. Control Flow (if, if-else, loops) <a id="control-flow"></a>

### Control flow allows you to make decisions and repeat actions based on conditions. We'll cover `if` statements, `if-else` statements, and loops like `for` and `while`.

In [3]:
# Example:
if age < 18:
    print("You are a minor.")
else:
    print("You are an adult.")

You are an adult.

In [4]:
for i in range(5):
    print(f'{i+1}-th number is:{i}')

1-th number is:0
2-th number is:1
3-th number is:2
4-th number is:3
5-th number is:4

In [5]:
i=0
while i <7:
    print(f'{i+1}-th number is:{i}')
    i += 1 # i=i+1

1-th number is:0
2-th number is:1
3-th number is:2
4-th number is:3
5-th number is:4
6-th number is:5
7-th number is:6

## 1.3. Lists, Sets,Tupels and Dicts <a id="lists-and-sets"></a>

## Lists:

### Lists are ordered collections of elements that can be of different data types. Lists are mutable, meaning you can change their content (add, remove, or modify elements).

In [6]:
# Example:
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed_list = ["apple", 2, 3.14, True]

## Sets:

### Sets are unordered collections of unique elements. Sets are mutable, so you can add or remove items, but they do not allow duplicates.

In [7]:
unique_numbers = {1, 2, 3, 4, 5}
unique_characters = set("hello")

## Tuples:
### Tuples are ordered collections of elements that are immutable, meaning their content cannot be changed once defined. Tuples are typically used for storing related pieces of data.

In [8]:
coordinates = (3, 4)
rgb_color = (255, 0, 0)

## Dictionaries (Dicts):

### Dictionaries are unordered collections of key-value pairs. Each key is associated with a value, and keys must be unique within a dictionary. Dictionaries are mutable.

In [9]:
person = {"name": "Alice", "age": 30, "city": "New York"}
student_grades = {"math": 95, "history": 88, "science": 92}

In [10]:
aa=143
aa

143

<div style="background-color: lightyellow;">
<font color="green">
    
## Exercise 1: Create a list of tuples; each set includes a user's name(first item) and age(second item). Then, using a loop, determine if that person is allowed to vote or not. (min age to vote is 18)
    
</font>
</div>

In [4]:
Voters = [( "Alice", 30),( "Stuart", 10),("Mike", 18),
("John", 99), ("Lucy",17)]

minimumAge = 18
for voter in Voters:
    name, age = voter
    if age < 18:
        print("You are a minor")
    else:
        print("You can vote")

You can vote
You are a minor
You can vote
You can vote
You are a minor

## 1.4. Functions <a id="functions"></a>

### Functions allow you to encapsulate blocks of code for reuse. You can define your functions and pass parameters to them.

In [13]:
# Example:
def greet(name):
    return f"Hello, {name}!"

greeting = greet("Bob")
print(greeting)

Hello, Bob!

In [14]:
def multipleby2(num):
    return 2*num
multipleby2(3)

6

<div style="background-color: lightyellow;">
<font color="green">
    
## Exercise 2: Creating a Simple Dictionary for a Toy Collection

In this exercise, you will create a Python dictionary to store information about toys. Each toy will have:

- **Name (string)**
- **Age Suitability (integer)**
- **Is it Electronic? (boolean)**

You will use the Name of the toy as the key, and the details about the toy as the value.

### Step 1: Start with Two Toys
Hereâ€™s a dictionary with two toys to get you started:

```python
toy_collection = {
    "Teddy Bear": {
        "age_suitability": 3,
        "is_electronic": False
    },
    "Remote Control Car": {
        "age_suitability": 6,
        "is_electronic": True
    }
}
```
### Step 2: Add More Toys
Now, add one or two more toys to the toy_collection dictionary. Make sure each toy has:
- Name (string)
- Age Suitability (integer)
- Is it Electronic? (boolean)

### Step 3: Create Simple Functions

Next, create easy functions to do the following:

- Find a Toy: Write a function that takes the name of a toy as input and shows its details (or tells you if itâ€™s not in the collection).
- Add a New Toy: Write a function that lets you add a new toy with its name, age suitability, and whether itâ€™s electronic.
- Remove a Toy: Write a function that lets you remove a toy by name.
- List all Toys: Write a function that shows the names of all toys in the collection.
</font>
    </div>

In [19]:
toy_collection = {
    "Teddy Bear": {
        "age_suitability": 3,
        "is_electronic": False
    },
    "Remote Control Car": {
        "age_suitability": 6,
        "is_electronic": True
    },
    "Robot": {
        "age_suitability": 8,
        "is_electronic": True
    },
    "Doll": {
        "age_suitability": 2,
        "is_electronic": False
    }
}

findToy = input("Enter toy type")
if findToy in toy_collection:
    print(f"The list for {findToy} is: {toy_collection[findToy]}")
    
addToy = input("Add a toy type: ")
toyAge = input("Enter the  age suitability then if it is electronic ")
toyElec =  input("Enter if it is electronic ")
collection = {addToy : {"age_suitability": toyAge , "is_electronic": toyElec}}
toy_collection.update(collection)

print("Updated dictionary:", toy_collection)

deleteToy = input("Which toy would you like to remove?")
toy_collection.pop(deleteToy)

print(toy_collection)
json_str = json.dumps(my_dict, indent=4)

json_str = json.dumps(toy_collection, indent=4)
print(json_str)

{
    "Teddy Bear": {
        "age_suitability": 3,
        "is_electronic": false
    },
    "Remote Control Car": {
        "age_suitability": 6,
        "is_electronic": true
    },
    "Robot": {
        "age_suitability": 8,
        "is_electronic": true
    },
    "Doll": {
        "age_suitability": 2,
        "is_electronic": false
    }
}

# 2. Data Analysis with Pandas <a id="data-analysis"></a>

## 2.1. Loading Data <a id="loading-data"></a>

In [15]:
# Let's load the house price prediction dataset using pandas.

data = pd.read_csv('house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

1. id :- It is the unique numeric number assigned to each house being sold.
2. date :- It is the date on which the house was sold out.
3. price:- It is the price of house which we have to predict so this is our target variable and aprat from it are our features.
4. bedrooms :- It determines number of bedrooms in a house.
5. bathrooms :- It determines number of bathrooms in a bedroom of a house.
6. sqft_living :- It is the measurement variable which determines the measurement of house in square foot.
7. sqft_lot : It is also the measurement variable which determines square foot of the lot.
8. floors: It determines total floors means levels of house.
9. waterfront : This feature determines whether a house has a view to waterfront 0 means no 1 means yes.
10. view : This feature determines whether a house has been viewed or not 0 means no 1 means yes.
11. condition : It determines the overall condition of a house on a scale of 1 to 5.
12. grade : It determines the overall grade given to the housing unit, based on King County grading system on a scale of 1 to 11.
13. sqft_above : It determines square footage of house apart from basement.
14. sqft_basement : It determines square footage of the basement of the house.
15. yr_built : It detrmines the date of building of the house.
16. yr_renovated : It detrmines year of renovation of house.
17. zipcode : It determines the zipcode of the location of the house.
18. lat : It determines the latitude of the location of the house.
19. long : It determines the longitude of the location of the house.
20. sqft_living15 : Living room area in 2015(implies-- some renovations)
21. sqft_lot15 : lotSize area in 2015(implies-- some renovations)

In [16]:
#get data information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [17]:
data.shape

(21613, 21)